.profile__edit-user-button {
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../../images/EditButton.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  margin-top: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.profile__edit-user-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__edit-user-button {
    margin: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    right: -27px;
  }
}