.popup__input_type_error {
  border-bottom: 1px solid #FF0000;
  margin-bottom: 0;
}

.popup__input_type_error:nth-last-of-type(1) {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .popup__input_type_error:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}