.cards__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .cards__title {
    max-width: max-content;
  }
}