.cards__trash-button {
  position: absolute;
  background-image: url("../../../images/Group.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: 0;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.cards__trash-button:hover {
  opacity: 0.6;
}